<a href="https://colab.research.google.com/github/erickson1999/big-data/blob/main/ejercicio1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vSFi9S08_nMnWIjOUeAm9pKkDmkfU2jBZjpqwKVv3-GU8STQJnTDMmuSCGCD4JynygoZg3QKZKce_1i/pub?gid=176273720&single=true&output=csv")

In [ ]:
print(data)

       nombre  edad    ciudad  ingresos
0        Juan    30      Lima      2500
1       María    28  Arequipa      3800
2        Luis    35     Cusco      4800
3         Ana    22  Trujillo      2000
4       Pedro    28  Arequipa      3200
5      Leonel    64   Juliaca      4980
6       Laura    31      Lima      4200
7      Carlos    25     Cusco      1800
8       Sofía    29  Trujillo      2900
9      Andrés    27      Lima      2600
10   Gabriela    33  Arequipa      4000
11    Micaela    21   Juliaca      5000
12      Diego    24     Cusco      3200
13  Valentina    26  Trujillo      3500
14     Lorena    30      Lima      3800
15     Javier    32  Arequipa      5000
16    Daniela    29      Lima      2700
17     Manuel    31  Trujillo      2700
18   Fernanda    28     Cusco      2100
19    Ricardo    35      Lima      4400
20      Lucía    23  Trujillo      1500
21       José    34  Arequipa      4200
22      Willy    55      Puno      1300

In [ ]:
#suma total de ingresos
suma_ingresos = data["ingresos"].sum()
print("la suma total es: ", suma_ingresos)

la suma total es:  76180

In [ ]:
#promedio de edad
prom_edad = data["edad"].mean()
print("el promedio de edad es: ",round(prom_edad))

el promedio de edad es:  31

In [ ]:
#personas en Arequipa
personas_arequipa = data.loc[data["ciudad"]=="Arequipa"]
print(personas_arequipa)

      nombre  edad    ciudad  ingresos
1      María    28  Arequipa      3800
4      Pedro    28  Arequipa      3200
10  Gabriela    33  Arequipa      4000
15    Javier    32  Arequipa      5000
21      José    34  Arequipa      4200

In [ ]:
#promedio por ciudad
prom_in_ciudad = data.groupby("ciudad")["ingresos"].mean().astype(int)
prom_in_ciudad

ciudad
Arequipa    4040
Cusco       2975
Juliaca     4990
Lima        3366
Puno        1300
Trujillo    2520
Name: ingresos, dtype: int64

In [ ]:
#obtenemos la persona más joven
joven = data.loc[data["edad"]==data["edad"].min()].values[0]
joven

array(['Micaela', 21, 'Juliaca', 5000], dtype=object)

In [ ]:
#obtenemos la persona más mayor
mayor = data.loc[data['edad']==data["edad"].max()].values[0]
mayor

array(['Leonel', 64, 'Juliaca', 4980], dtype=object)

In [ ]:
#obtenemos el número de personas por ciudad - Modo 1
personas_por_ciudad = data.groupby("ciudad")["nombre"].count()
personas_arequipa

      nombre  edad    ciudad  ingresos
1      María    28  Arequipa      3800
4      Pedro    28  Arequipa      3200
10  Gabriela    33  Arequipa      4000
15    Javier    32  Arequipa      5000
21      José    34  Arequipa      4200

In [ ]:
#obtenemos el número de personas por ciudad - Modo 2
personas_ciudad = data["ciudad"].value_counts()
personas_ciudad

Lima        6
Arequipa    5
Trujillo    5
Cusco       4
Juliaca     2
Puno        1
Name: ciudad, dtype: int64

In [ ]:
#orden por edad descendente
orden_edad_descendente = data.sort_values(by="edad",ascending=False)
orden_edad_descendente

       nombre  edad    ciudad  ingresos
5      Leonel    64   Juliaca      4980
22      Willy    55      Puno      1300
2        Luis    35     Cusco      4800
19    Ricardo    35      Lima      4400
21       José    34  Arequipa      4200
10   Gabriela    33  Arequipa      4000
15     Javier    32  Arequipa      5000
6       Laura    31      Lima      4200
17     Manuel    31  Trujillo      2700
14     Lorena    30      Lima      3800
0        Juan    30      Lima      2500
8       Sofía    29  Trujillo      2900
16    Daniela    29      Lima      2700
1       María    28  Arequipa      3800
18   Fernanda    28     Cusco      2100
4       Pedro    28  Arequipa      3200
9      Andrés    27      Lima      2600
13  Valentina    26  Trujillo      3500
7      Carlos    25     Cusco      1800
12      Diego    24     Cusco      3200
20      Lucía    23  Trujillo      1500
3         Ana    22  Trujillo      2000
11    Micaela    21   Juliaca      5000